@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", cursive; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  background-image: url(../assets/morning-4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white; }

.time {
  font-size: 15rem; }

.date {
  font-size: 2rem; }

.greeting {
  font-size: 5rem; }

.weather-link-container {
  display: flex; }

.main-container {
  animation: fadeIn 0.75s ease-in 1 forwards;
  height: 50vh; }

.time-container,
.date-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(black); }
