.add-button {
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

.todo-button {
  background-color: transparent;
  color: $color-white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.setting-button {
  // height: 5rem;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $color-white;
}

.quotes-button {
  color: $color-white;
  width: 100%;
  margin-right: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  // left: 0;
  // opacity: 0;

  &-logo {
    height: 2rem;
  }
}
