.add-button {
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

.todo-button {
  background-color: transparent;
  color: $color-white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.quotes-button {
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &-logo {
    height: 2rem;
  }
}
