.search {
  &-logo {
    height: 2rem;
    cursor: pointer;
  }

  &-input {
    text-align: center;
    margin-left: 0.5rem;
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2.5px solid $color-white;
    outline: transparent;
    color: $color-white;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  &-link {
    display: none;
  }
}

.name-input {
  color: $color-white;
  font-size: 5rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid $color-white;
  text-align: center;
}

.focus-input {
  font-size: 3rem;
  color: $color-white;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $color-white;
  outline: none;
  text-align: center;
  position: absolute;
  top: 3rem;
  left: 0;
  transition: opacity 0.5s;
  display: block;
}

.your-focus-checkbox {
  opacity: 0;
}

.add-quote {
  width: 100%;
}
